 .key { position: absolute; font-family: Helvetica; font-weight: 100; font-size: 12px;
                   border: 1px solid rgba(32,32,32,0.2);
                   border-radius: 0px 0px 5px 5px;
                   cursor:pointer;
                   box-shadow: 0px 5px 1px rgba(32,32,32,0.2);
                   -webkit-transition: margin 0.05s ease, background-color 0.05s ease, box-shadow 0.05s ease; }
            .key:hover { background-color: rgb(255,192,32); }

            .key .label { position: absolute; bottom: 5px; text-align: center; left: 0px; right: 0px; }

            .black { background-color: rgb(32,32,32); color: #ffffff; z-index: 1; text-shadow: 0px -1px 1px rgba(255,255,255,0.5); }

            .white { background-color: #ffffff; color: rgb(32,32,32); z-index: 0; text-shadow: 0px 1px 1px rgba(32,32,32,0.5); }

            .source a { color: rgb(255,96,96); }
            .source a:link, .source a:visited, .source a:active { color: rgb(255,96,96); }
            .source a:hover { color: rgb(255,128,128); }

            .small { font-size: 20px; }

            .keyboard-options { margin: 30px auto; width: auto; text-align: center; font-size: 12px; font-weight: 200; padding:10px; }

            .keyboard-holder { margin: 30px auto; height: 200px; position:relative; user-select:none; -webkit-user-select:none;-moz-user-select:none;-o-user-select:none; }

            td
            {
                padding-left: 25px;
                padding-right: 25px;
                text-align: center;
            }